[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
test = "pytest -v --disable-warnings"
test-and-report-macos = "./run_tests.sh"
test-and-report-windows = "run_tests.bat"

[packages]
selenium = "~=4.12.0"
pytest = "*"
allure-pytest = "~=2.13.2"
pylint = "*"

[dev-packages]

[requires]
python_version = "3.11"
